:root {
    --buttonBg: purple;
    --main-accent: purple;
    --massive-text: 100px;
    --big-text: 48px;
    --med-text: 24px;
    --reg-text: 16px;
}

html {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    height: 50px;
    width: 100%;
    box-shadow: 0px 5px 5px grey;
    margin-bottom: 80px;
    position: fixed;
    top: 0;
    background-color: white;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    
}

.header p {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 50px;
    min-width: 900px;
    max-width: 1200px;
    padding: 100px;

}

.loginHead {
    display: grid;
    grid-template-rows: auto auto;
}

.headerPic {
    width: 80%;
    margin-bottom: -100px;
}

.keylink {
    color: var(--main-accent);
}

.loginTitle {
    font-size: var(--massive-text);
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: -5px;
}

.loginInputs {
    
}

.chunkyForm {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 30px;
}

.chunkyForm label {
    margin-bottom: -300px;
}

.chunkyForm input {
    height: 70px;
    font-size: var(--med-text);
    
    text-align: center;
}

.sliders {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-gap: 20px;
}

input.pillButton {
    width: 200px;
    background-color: var(--buttonBg);
    border-radius: 25px;
    height: 50px;
    color: white;
    font-size: var(--reg-text);
    margin: auto;
}

.profileHead {
    display: grid;
    grid-template-rows: 200px 200px 150px;
    
}

.profileTitle {
    font-size: var(--massive-text);
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: -5px;
    margin-top: -100px;
}

.profileDesc {
    padding-right: 50px;
    
}

.profileInfoBox {
    display: grid;
    grid-template-rows: auto auto auto;
}

.profileInfoEntry {
    height: 50px;
    width: 100%;
    padding-left: 20px;
}

.profileHeader {
    display: grid;
    grid-template-columns: 70% 30%;
}

.profileName {
    font-size: var(--big-text);
}

.profilePic img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.profileSubhead {
    
    width: 30%;
}

.profileSubhead p {
    font-size: var(--med-text);
    border-bottom: 1px solid purple;
}

.profileInfo p {
    line-height: 29px;
}

.chatHead {
    display: grid;
    grid-template-rows: auto auto auto;
    width: 100%;
  
}

.chatTitle {
    font-size: var(--big-text);
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: -2px;
}

.messageListBox {
    border: 1px solid black;
    display: grid;
    grid-template-rows: auto auto auto;
    margin-bottom: 50px;
}

.message {
    border-top: 1px solid black;
    /* border-bottom: 1px solid black; */
    padding: 20px;
}


.chatBox {
    display: grid;
    grid-template-rows: 10% auto auto;
}

.chattingTo {
    font-size: var(--big-text);
    font-weight: bold;
    letter-spacing: -2px;
}

.receiveMessageBox {
    
    height: 500px;
    border: 1px solid black;
}

.sendMessageBox {
    width: 100%;
}

.sendMessageBox input {
    height: 70px;
    font-size: var(--med-text);
    width: 98%;
    padding-left: 10px;
}

.matchContainer {
    display: grid;
    grid-template-columns: auto auto;
    
}

.match {
    display: grid;
    grid-template-columns: 80px 400px;
    width: 200px;
}

.matchName {
    font-size: var(--med-text);
    letter-spacing: -1px;
    padding: 20px;
}

.match img {
    width: 75px;
    height: 75px;
}

@media only screen and (max-width: 1000px) {

body {
    
}

.header {
    height: 50px;
    width: 100%;
    box-shadow: 5px 0px 5px grey;
    margin-bottom: 80px;
    position: fixed;
    bottom: 0;
    background-color: white;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-bottom: 0px;
}

.container {
    width: 400px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 400px;
    margin: auto;
    padding: 50px;
    min-width: 0;
}

.profileHead {
    
}

.profileDesc {
    margin-top: -50px;
    
}

.profileInfoBox {
    /* margin-top: -100px; */
}

.loginHead {
    margin-bottom: 50px;
}

.chattingTo {
    font-size: var(--med-text);
}

.chatHead {
    display: grid;
    grid-template-rows: auto auto auto;
    width: 100%;
    grid-gap: 50px;
    margin-bottom: -50px;
}

.matchContainer {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    
}


}