:root {
    --dark-grey: rgb(44, 40, 40);
    --pink: rgb(228, 81, 130);
    --logo-grey: rgb(65,65,65);
    --negative: rgb(105,186,165);
    --dark-complement: rgb(86,65,70);
    --light-complement: rgb(242,167,185);
}

body {
    background-color: var(--dark-grey);
    font-family: Arial, Helvetica, sans-serif;
    
}

.container {
    width: 400px;
    margin: auto;
    
}

#logo {
    margin: auto;
    width: 120px;
}

#logo img {
    width: 100px;
    height: auto;
    
}

#ppcontainer {
	height:150px;
    width:150px;
    border-radius: 75px;
	overflow: hidden;
    margin: auto;
    margin-bottom: 20px;

}

#profilepic {
	width: 100%;
    height: 100%;
    
}

h1 {
    color: white;
}

.subheading {
    padding: 0px;
    
    background-color: var(--pink);
    
}

h2 {
   padding: 7px;
    color: white;
   border-bottom: 1px solid var(--light-complement);
}

.form {
    width: 100%;
    margin: auto;
}


label {
    color: white;
}

input, select {
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 30px;
}
/* 
select {
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 72px;
} */


button, .inputButton {
    border: none;
    height: 40px;
    width: 100%;
    font-size: 30px;
    background-color: var(--pink);
    color: var(--dark-grey);
}

button:hover, .inputButton:hover {
    color: white;
}

.profileDetails {
    color: white;
}

.profileDetails p {
    padding-left: 10px;
}

.profilePic {
    width: 100%;
    margin: auto;
    text-align: center;
}

#uploadProfilePic {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background: white;
    font-size: 16px;
    margin: auto;
    margin-bottom: 20px;
    
}

.navContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -10px;
    
}

.navItem {
    background-color: var(--pink);
    text-align: center;
    padding: 10px
}

.navItem img {
    width: 40px;
    height: auto;
    margin: auto;
}

.navItem:hover {
    background: var(--light-complement);
}


a:link, a:visited {
    text-decoration: none;
    color: black;
}

/* a:hover {
    color: white;
} */

/* Add this class to any button at the bottom of a page to scroll past the navbar. */
.bottomButton {
    margin-bottom: 110px;
    box-shadow: 3px 3px var(--light-complement);
    border: 1px solid var(--light-complement);
}

.bottomButton:hover {
    box-shadow: none;
}