:root {
    --dark-grey: rgb(44, 40, 40);
    --pink: rgb(228, 81, 130);
    --logo-grey: rgb(65,65,65);
    --negative: rgb(105,186,165);
    --dark-complement: rgb(86,65,70);
    --light-complement: rgb(242,167,185);

    --bg-white: white;
    --light: black;
    --warm-pink: black;
    --rich-pink: black;
    --orangepink: black;
    --orange: black;
    --yellow: black;
    --grey: grey;
}

html {
    margin: 0;
    height: 100%;

}


body {
    /* background-color: var(--bg-white); */
    background-color: rgb(255, 255, 255);
    /* background-image: linear-gradient(to bottom right, var(--light), var(--bg-white)); */
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: 'Rubik', sans-serif; */
    /*     font-family: 'Nunito', sans-serif; */
    font-family: 'Poppins', sans-serif;
   /* background-color: rgb(68, 33, 223); */
    margin: 0;
    height: 100%;
    
}

.header {
    height: 50px;
    width: 100%;
    box-shadow: 5px 0px 5px grey;
    margin-bottom: 80px;
    position: fixed;
    bottom: 0;
    background-color: white;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom: 0px;
}

.header p {
    text-align: center;
}

#catvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}


.thumbsButtons {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 80%;
    margin: auto;
 
}



.thumbsup {
    
    height: 75px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: rgb(110, 196, 40);
    padding: 20px;
    text-align: left;
    display: grid;
    grid-template-columns: auto auto;
}

.thumbsup:hover {
    background-color: rgb(107, 238, 0);
}

.thumbsup p {
    margin-left: -10px;
    
}

.thumbsup img {
    width: 35px;
    height: auto;
    margin-top: -10px;
    
}

.thumbsButtons p{
    margin-top: 0px;
    font-size: 24px;
    
}

.thumbsdown {
    display: grid;
    grid-template-columns: auto auto;
    text-align: right;
    height: 75px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(245, 80, 80);
    padding: 20px;
    
}

.thumbsdown img {
    margin-top: 5px;
}

.thumbsdown:hover {
    background-color: rgb(233, 22, 22);
}

.container {
    width: 97%;
    margin: auto;
}

#logo {
    margin: auto;
    width: 120px;
}

#logo img {
    width: 100px;
    height: auto;
    
}

#splashLogo {
    margin: auto;
    width: 300px;
}

#splashLogo img {
    width: 300px;
    height: auto;
}

#splashContent {
    text-align: center;
    color: var(--grey);
    background-color: white;
    width: 70%;
    margin: auto;
    padding: 30px;
    box-shadow: 10px 10px 5px rgb(28, 30, 110);
    margin-bottom: 200px;
}

#splashContent p {
    margin-bottom: 40px;
    
}


.indexButtons {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 70%;
    margin: auto;

}


.indexButtons button {
    padding: 20px;
    font-size: 16px;
}



#splashContent #loginbutton {
    background-color: rgb(101, 101, 223);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: -2px;
}

#splashContent #loginbutton:hover {
    background-color: blue;
}

#splashContent #registerbutton {
    background-color: orange;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: -2px;
}

#splashContent #registerbutton:hover {
    background-color: rgb(138, 236, 27);
}

#splashContent button:hover {

}

.profileBox {
    
    background-color: white;
    /* background-image: linear-gradient(to bottom right,rgb(255, 255, 255), var(--light)); */
    box-shadow: 2px 2px 3px rgb(207, 205, 205);
    margin-bottom: -20px;
    
 
}

.editButtonContainer {
    width: 100px;
    margin: auto;
}

#editProfileButton {
    width: 100px;
    height: 100px;
    background-color: var(--orangepink);
    font-size: 16px;
    border-radius: 50%;
    

}

#ppcontainer {
	height:150px;
    width:150px;
    border-radius: 75px;
	overflow: hidden;
    margin: auto;
    margin-bottom: 20px;

}

#profilepic {
	width: 100%;
    height: 100%;
    
}

h1 {
    color: var(--grey);
}

.subheading {
    padding: 0px;

}

.subheading p {
    color: grey;
    font-family: 'Rubik', sans-serif;
   padding: 7px;
   font-size: 24px;
   text-align: left;
}

.personalityTraits p {
    background-color: rgb(63, 63, 211);
    color: white;
    margin-bottom: -10px;
    padding: 15px;
}

.personalityTraits p:nth-child(even) {
    background-color: rgb(211, 211, 255);
    color: rgb(77, 77, 77);
}

#profileName {
    color: rgb(0, 0, 0);
    font-size: 50px;
    text-align: left;
    border: none;
    border-bottom: 1px solid rgb(0, 153, 255);
}

#subheadPersonality {
    color: var(--orangepink); 
}

#subheadLikes {
    color: var(--orange);
}

#subheadDislikes {
    color: var(--yellow);
}

.form {
    width: 90%;
    margin: auto;
    margin-top: 100px;
    
}

.form form {
    text-align: center;
}

#loginform {

        text-align: center;
        color: var(--grey);
        background-color: white;
        width: 70%;
        margin: auto;
        padding: 30px;
        box-shadow: 10px 10px 5px rgb(28, 30, 110);
        margin-bottom: 200px;
    
}

#loginform h1 {
    text-align: left;
    color: black;
}

#loginform a:hover {
    color: blue;
}

#loginform label {
    color: var(--grey);
}

#loginform input {
    height: 100px;
    width: 90%;
    font-size: 48px;
    padding-left: 10px;
    border: 1px solid var(--orange);
}




label {
    color: var(--grey);
}

input, select {
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 30px;
}
/* 
select {
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 72px;
} */


button, .inputButton {
    border: none;
    /* height: 40px; */
   
    /* font-size: 30px; */
    background-color: var(--pink);
    color: white;
}

button:hover, .inputButton:hover {
    /* color: white; */
}

.settingsMenu p {
    text-align: left;
}

.settingsMenuButtons {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-gap: 20px;
}

.settingsMenuButtons button {
    height: 60px;
    width: 100%;
    background: blue;
    font-size: 16px;
}

.settingsMenuButtons button:hover {
    background-color: rgb(129, 178, 250);
}

.profileDetails {
    color: white;
}

.profileDetails p {
    padding-left: 10px;
}

.profilePic {
    width: 100%;
    margin: auto;
    text-align: center;
}

#uploadProfilePic {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background: white;
    font-size: 16px;
    margin: auto;
    margin-bottom: 20px;
    
}

.navContainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -10px;
    
}

.navItem {
    background-color: var(--pink);
    text-align: center;
    padding: 10px
}

.navItem img {
    width: 40px;
    height: auto;
    margin: auto;
}

.navItem:hover {
    background: var(--light-complement);
}


a:link, a:visited {
    text-decoration: none;
    color: black;
}

/* a:hover {
    color: white;
} */

/* Add this class to any button at the bottom of a page to scroll past the navbar. */
.bottomButton {
    height: 70px;
    width: 50%;
    border-radius: 15px;
    margin: auto;
    background-color: var(--rich-pink);
}

.bottomButton:hover {
    box-shadow: none;
}

.likeDislike {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    bottom: 50;
    position: fixed;
    
 
}

.likeDislikeForm {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 50px;
}

.likeDislikeForm input {
    width: 100px;
    height: auto;
    
}

.inlikeButton {
    width: 100px;
    height: auto;
    margin: auto;
}

.indislikeButton {
    width: 100px;
    height: auto;
    margin: auto;
}

.likeButton {

    /* background-color: var(--pink); */
    margin: auto;
}

.likeButton img {
    width: 100px;
    height: auto;
}

.dislikeButton {

    /* background-color: var(--negative); */
    margin: auto;
}

.dislikeButton img {
    width: 100px;
    height: auto;
}



.wantToMatch {
    color: var(--pink);
    text-align: center;
    font-size: 24px;
    margin-top: -50px;
}

.matches {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    width: 100%;
    margin: auto;
}

.match {
    margin: auto;
}

.match p {
    color: white;
}

.match img {
    width: 100px;
    height: auto;
}

.chatHeader {
    display: grid;
    grid-template-columns: 60% 40%;
}

.unmatch {
    /* text-align: right; */
    background-color: var(--pink);
    text-align: center;
   
}

.unmatch:hover {
    background-color: var(--light-complement);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255,255,255,0.4);
    
}

.modalContent {
    background-color: var(--dark-grey);
    margin: 55% auto;
    padding: 30px;
    width: 70%;
    color: white;
    text-align: center;
    border-radius: 2%;
}

#confirmDialogue {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}

.modalContent button {
    height: 75px;
    width: auto;
    border-radius: 5%;
}

#confirmUnmatch {
    background-color: var(--pink);
}

#cancelUnmatch {
    background-color: var(--negative);
}


.chat {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-rows: auto auto;
}

.receiveMessageWindow {
    height: 500px;
    width: 95%;
    background-color: white;
    border: 10px solid var(--light-complement)
}

.sendMessageWindow {
    margin-top: 20px;
    width: 100%;
}


/* For desktop view */
@media only screen and (min-width: 600px) {

    body {
        background-color: white;
    }
    .container {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        grid-gap: 30px;
    }

    .profileBox {
        padding: 20px;
    }

    .navContainer {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        justify-content: center;
        bottom: 0;
        width: 100%;
        margin: auto;
        
    }

    .matches {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto;
        width: 100%;
        margin: auto;
    }

    .likeDislikeForm {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 50px;
    }
    
    .likeDislikeForm input {
        width: 100px;
        height: auto;
        
    }
    
    .inlikeButton {
        width: 100px;
        height: auto;
        margin: auto;
    }
    
    .indislikeButton {
        width: 100px;
        height: auto;
        margin: auto;
    }

    .modalContent {
        background-color: var(--dark-grey);
        margin: 15% auto;
        padding: 30px;
        width: 30%;
        color: white;
        text-align: center;
        border-radius: 2%;
    }

    .receiveMessageWindow {
        height: 500px;
        width: 97.5%;
        background-color: white;
        border: 10px solid var(--light-complement)
    }

    .header {
        height: 50px;
        width: 100%;
        box-shadow: 5px 0px 5px grey;
        margin-bottom: 80px;
        position: fixed;
        top: 0;
        background-color: white;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        margin-bottom: 0px;
    }

}